@font-face {
    font-family: 'coolvetica';
    src: url(/fonts/coolvetica.ttf) format('truetype');
}

@font-face {
    font-family: 'lexend';
    src: url(/fonts/Lexend-VariableFont_wght.ttf) format('truetype');
}

:root {
    --purple: #9536AF;
    --red: #F2545B;
    --cream: #F3F7F0;
    --black: #070600;
    --blue: #279AF1;
}

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--cream);
}

/* HEADER */

#header-title {
    font-family: 'coolvetica', sans-serif;
    color: var(--purple);
    font-size: 40px;
    text-decoration: none;
}

.button {
    background-color: var(--purple);
    font-family: 'coolvetica', sans-serif;
    color: white;
    text-decoration: none;;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    border: none;
}

.nav-bar {
    color: black;
    text-decoration: none;
    font-family: 'coolvetica', sans-serif;
    border-radius: 5px;
    padding: 15px;
}

.nav-bar:hover {
    background-color: var(--red);
    color: white;
}

.button:hover {
    background-color: #511d5f;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
    padding: 20px;
}

#navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* INDEX PAGE CONTENT */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    min-height: calc(100vh - 100px);
}

#main-container {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    max-width: 425px;
}

#title {
    font-family: 'coolvetica', sans-serif;
    color: var(--purple);
    font-size: 50px;
    text-align: center;
}

#sub-text {
    font-family: 'coolvetica', sans-serif;
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

.text {
    font-family: 'coolvetica', sans-serif;
    color: black;
}

#select-step {
    padding-left: 20px;
    padding-bottom: 20px;
}

.hide {
    display: none;
}

#sign-in, #verifyBtn {
    border: none;
    font-size: 18px;
}

#email, #otp {
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.link {
    text-decoration: none;
}

.display-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

/* HOME PAGE */

#home-page {
    display: flex;
    gap: 20px;
}

#castlist-container {
    background-color: white;
    border-radius: 20px;
    width: 600px;
    height: 500px;
}

#profile-container {
    background-color: white;
    border-radius: 20px;
    width: 225px;
    height: 500px;
}

#profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

#profile-pic-holder {
    background-color: red;
    width: 75px;
    height: 75px;
}

#username {
    font-family: 'coolvetica', sans-serif;
    font-size: 20px;
}

/* Create page */

#create-main {
    display: flex;
    justify-content: center;
    align-items: center;
} 

#create-container {
    background-color: white;
    border-radius: 20px;
    width: 800px;
    height: 500px;
}

#create-title {
    font-family: 'coolvetica', sans-serif;
    color: var(--purple);
    font-size: 30px;
    text-align: left;
    padding: 20px;
}

.step {
    font-family: 'coolvetica', sans-serif;
    color: var(--black);
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}

.text {
    font-family: 'coolvetica';
}

.label {
    font-family: 'coolvetica';
    padding: 15px;
    box-sizing: border-box;
}

.dropdown-box {
    width: 200px;
    position: relative;
}

.dropdown-box input {
    width: 100%;
    border: 1px solid pink;
    outline: none;
    border-radius: 5px;
    padding: 3px 10px;
    color: rgb(78, 78, 78);
}

.selected-item {
    max-width: 200px;
}

.dropdown-box .selected-item {
    position: relative;
}

.dropdown-box .selected-item::after {
    content: "";
    width: 3px;
    height: 3px;
    border: 2px solid;
    border-color: transparent pink pink transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-70%) rotate(45deg);
}

.dropdown-box .selected-item, .dropdown-box .selected-item input {
    cursor: pointer;
}

.dropdown-box .dropdown-content {
    box-shadow: 0px 5px 15px black 15%;
    border-radius: 5px;
    max-height: 200px;
    overflow: auto;
    display: none;
    position: absolute;
    z-index: 100;
    background-color: white;
}

.dropdown-box.active .dropdown-content {
    display: block;
}

.dropdown-box .dropdown-content .search-input {
    padding: 5px;
}

.dropdown-box .dropdown-content ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-box .dropdown-content ul li {
    font-size: 0.8rem;
    padding: 2px 5px;
    cursor: pointer;
}

.dropdown-box .dropdown-content ul li.hide {
    display: none;
}

.dropdown-box .dropdown-content ul li:hover {
    background-color: rgb(245 245 245);
}

.dropdown-box .dropdown-content ul li .active {
    background-color: rgb(213, 242, 246);
    color: rgb(0, 0, 191)
}

#character-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.entry {
    border-radius: 100px;
    padding: 20px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.character-label {
    margin-right: 0.5rem;
}

.hide {
    display: none;
}

/* Display show */
#show-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster img:hover {
    transform: scale(1.2);
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.show-title {
    font-family: 'lexend', sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.count {
    font-family: 'Lexend', sans-serif;
    font-weight: light;
    text-align: center;
    position: relative;
    z-index: 1000;
}

/* Display performers */

table {
    max-width: 500px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

thead {
    background-color: rgb(202, 202, 202);
}

tbody {
    width: 100%;
}

th {
    width: 300px;
}

/* New performer */

#new-performer {
    display: flex;
    flex-direction: column;
}

#first-name, #middle-name, #last-name {
    width: 200px;
}

#button-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

/* FEED STYLING */
.feed {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-height: fit-content;
    overflow: scroll;
}

.cast-list {
    max-height: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

.list-header {
    font-family: 'coolvetica', sans-serif;
    background-color: white;
    width: 600px;
    padding: 10px;
    border-bottom: 0.5px solid black;
}

.list-title {
    font-size: 20px;
}

.list-subtitle {
    font-size: 12px;
}

.charDiv {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'lexend', sans-serif;
    text-align: center;
    font-size: 15px;
}

.character {
    font-weight: bold;
}

.performer {
    font-weight: light;
}

.cast-list-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* show info pages */
#show-main {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#show-info {
    height: 600px;
    width: 300px;
    background-color: white;
    border-radius: 25px;
}

#show-info img {
    height: 350px;
}

#basic-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#dynamic-info {
    font-family: 'lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#interesting-info {
    font-family: 'lexend', sans-serif;
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    align-items: center;
}

#tabs {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#tabs p {
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
}

#tabs p:hover {
    background-color: rgb(222, 222, 222);
}

.selected-tab {
    background-color: white;
}

.info-tab {
    background-color: white;
    width: 450px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}

ul {
    margin: 0;
    padding: 0;
}

.info-tab li {
    padding: 10px;
    border-top: 0.5px black solid;
    list-style: none;
    font-size: 13.5px;
}

.hidden {
    display: none;
}

.tour-info {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.tour-info:hover, #char-list li:hover {
    background-color: rgb(222, 221, 221);
}

.tour-title {
    display: flex;
    align-items: center; 
}

.tour-dates {
    display: flex;
    flex-direction: column;
}

.opening-date, .closing-date {
    font-weight: normal;
}

.date-label {
    font-weight: bold;
    text-align: right;
}