@font-face {
    font-family: 'coolvetica';
    src: url(/fonts/coolvetica.ttf) format('truetype');
}

@font-face {
    font-family: 'lexend';
    src: url(/fonts/Lexend-VariableFont_wght.ttf) format('truetype');
}

:root {
    --purple: #9536AF;
    --red: #F2545B;
    --cream: #F3F7F0;
    --black: #070600;
    --blue: #279AF1;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--cream);
}

/* HEADER */

#header-title {
    font-family: 'coolvetica', sans-serif;
    color: var(--purple);
    font-size: 40px;
    text-decoration: none;
}

.button {
    background-color: var(--purple);
    font-family: 'coolvetica', sans-serif;
    color: white;
    text-decoration: none;;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    border: none;
}

.nav-bar {
    color: black;
    text-decoration: none;
    font-family: 'coolvetica', sans-serif;
    border-radius: 5px;
    padding: 15px;
}

.nav-bar:hover {
    background-color: var(--red);
    color: white;
}

.button:hover {
    background-color: #511d5f;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
    padding: 20px;
}

#navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* INDEX PAGE CONTENT */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    min-height: calc(100vh - 100px);
}

#main-container {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    max-width: 425px;
}

#title {
    font-family: 'coolvetica', sans-serif;
    color: var(--purple);
    font-size: 50px;
    text-align: center;
}

#sub-text {
    font-family: 'coolvetica', sans-serif;
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

.text {
    font-family: 'coolvetica', sans-serif;
    color: black;
}

.hide {
    display: none;
}

#sign-in, #verifyBtn {
    border: none;
    font-size: 18px;
}

#email, #otp {
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.link {
    text-decoration: none;
}

.display-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

/* HOME PAGE */

#home-page {
    display: flex;
    flex-direction: row;;
    gap: 20px;
    height: 600px;
}

#castlist-container {
    background-color: white;
    border-radius: 20px;
    width: 600px;
    height: 500px;
}

#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    border-radius: 20px;
    width: 225px;
    max-height: 500px;
    font-size: 20px;
    gap: 100px;
}

.user-options {
    flex: 2;
    margin-top: auto;
    padding: 10px;
}

#user-settings li {
    font-family: 'coolvetica', sans-serif;
    padding: 10px;
    border-top: 0.5px black solid;
    list-style: none;
    font-size: 13.5px;
}

#user-settings li:hover {
    background-color: rgb(222, 221, 221);
    cursor: pointer;
}

#user-info-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

#profile-pic-holder {
    background-color: red;
    width: 70px;
    height: 70px;
}

#user-info {
    display: flex;
    flex-direction: column;
}

#username {
    font-family: 'coolvetica', sans-serif;
    font-size: 20px;
}

#user-list-count {
    font-family: 'coolvetica', sans-serif;
    font-size: 15px;
}
/* Create page */

#create-main {
    display: flex;
    justify-content: center;
    align-items: center;
} 

#create-container {
    background-color: white;
    border-radius: 20px;
    width: 800px;
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#create-title {
    font-family: 'coolvetica', sans-serif;
    color: var(--purple);
    font-size: 30px;
    text-align: left;
}

.adding-new-title {
    font-family: 'coolvetica', sans-serif;
    color: var(--purple);
    font-size: 25px;
    text-align: left;
}

.step {
    font-family: 'coolvetica', sans-serif;
    color: var(--black);
    font-size: 20px;
    text-align: left;
}

.current-step {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#create-step .search-container {
    width: 50%;
    background-color: #279AF1;
}

.text {
    font-family: 'coolvetica';
}

.label {
    font-family: 'coolvetica';
    padding-right: 10px;
    box-sizing: border-box;
}

.two-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-box {
    width: 200px;
    position: relative;
}

.dropdown-box input {
    width: 100%;
    border: 1px solid pink;
    outline: none;
    border-radius: 5px;
    padding: 3px 10px;
    color: rgb(78, 78, 78);
}

.selected-item {
    max-width: 200px;
}

.dropdown-box .selected-item {
    position: relative;
}

.dropdown-box .selected-item::after {
    content: "";
    width: 3px;
    height: 3px;
    border: 2px solid;
    border-color: transparent pink pink transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-70%) rotate(45deg);
}

.dropdown-box .selected-item, .dropdown-box .selected-item input {
    cursor: pointer;
}

.dropdown-box .dropdown-content {
    box-shadow: 0px 5px 15px black 15%;
    border-radius: 5px;
    max-height: 200px;
    overflow: auto;
    display: none;
    position: absolute;
    z-index: 100;
    background-color: white;
}

.dropdown-box.active .dropdown-content {
    display: block;
}

.dropdown-box .dropdown-content .search-input {
    padding: 5px;
}

.dropdown-box .dropdown-content ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-box .dropdown-content ul li {
    font-size: 0.8rem;
    padding: 2px 5px;
    cursor: pointer;
}

.dropdown-box .dropdown-content ul li:hover {
    background-color: rgb(245 245 245);
}

.dropdown-box .dropdown-content ul li .active {
    background-color: rgb(213, 242, 246);
    color: rgb(0, 0, 191)
}

#character-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    max-height: 225px;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.entry {
    border-radius: 100px;
    padding: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.character-label {
    margin-right: 0.5rem;
}

#finalize-list {
    padding: 30px;
}

/* Display show */
#show-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    width: 80%;
    border-radius: 25px;
}

#show-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;;
    background-color: rgb(230, 230, 230);
}

#search-input {
    padding: 10px;
    border: 1px solid black;
    width: 300px;
}

#show-pagnation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;;
    background-color: rgb(230, 230, 230);
}

#shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

#show-pagnation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.show-div {
    width: 325px;
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    box-sizing: border-box;
    gap: 20px;
}

.show-div:hover {
    background-color: rgb(222, 221, 221);
    border-radius: 20px;
}

.show-summary {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    text-decoration: none;
    width: 240px;
}

a {
    color: black;
    text-decoration: none;
}

#poster-div {
    height: 350px;
    width: 250px;
}

#add-poster-shown {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(216, 216, 216);
    border: 2px dotted gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    height: 100%;
    overflow: hidden;
    background-color: gray;
    width: 80px;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.show-title {
    font-family: 'lexend', sans-serif;
    font-weight: bold;
}

.count {
    font-family: 'Lexend', sans-serif;
    font-weight: light;
}

/* Display performers */

table {
    max-width: 500px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

thead {
    background-color: rgb(202, 202, 202);
}

tbody {
    width: 100%;
}

th {
    width: 300px;
}

/* New performer */

#new-performer {
    display: flex;
    flex-direction: column;
}

#first-name, #middle-name, #last-name {
    width: 200px;
}

#button-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

/* FEED STYLING */
.feed {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-height: 600px;
    overflow: scroll;
    width: 640px;
}

.cast-list {
    max-height: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

.list-header {
    font-family: 'coolvetica', sans-serif;
    background-color: white;
    width: 600px;
    padding: 10px;
    border-bottom: 0.5px solid black;
}

.list-title {
    font-size: 20px;
}

.list-subtitle {
    font-size: 12px;
}

.charDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 200px;
    height: 100px;
    font-family: 'lexend', sans-serif;
    text-align: center;
    font-size: 15px;
}

.character {
    font-weight: bold;
}

.performer {
    font-weight: light;
}

.cast-list-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
}

/* show info pages */
#show-main {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#show-info {
    height: 600px;
    width: 300px;
    background-color: white;
    border-radius: 25px;
}

#show-info img {
    height: 350px;
}

#basic-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#dynamic-info {
    font-family: 'lexend', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#interesting-info {
    font-family: 'lexend', sans-serif;
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    align-items: center;
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: -15px;
}

#tabs p {
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    font-family: 'coolvetica';
}

#tabs p:hover {
    background-color: rgb(222, 222, 222);
}

.selected-tab {
    background-color: white;
}

.info-tab {
    background-color: white;
    width: 450px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

.info-tab li {
    padding: 10px;
    border-top: 0.5px black solid;
    list-style: none;
    font-size: 13.5px;
}

.hidden {
    display: none;
}

.tour-info {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.tour-info:hover, #char-list li:hover {
    background-color: rgb(222, 221, 221);
}

.tour-title {
    display: flex;
    align-items: center; 
}

.tour-dates {
    display: flex;
    flex-direction: column;
}

.opening-date, .closing-date {
    font-weight: normal;
}

.date-label {
    font-weight: bold;
    text-align: right;
}

#overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
}

#add-character, #add-tour, #add-show, #add-performer {
    background-color: white;
    padding: 45px;
    width: 400px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#char-list, #tour-list {
    overflow: scroll;
}

#tour-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cancel {
    font-family: 'coolvetica';
    text-align: right;
}

.cancel:hover {
    color: red;
}

#char-form input, #tour-form input {
    padding: 10px;
    border: 1.5px solid black;
}

/* User page */
#user-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#user-information {
    width: 800px;
    height: 130px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#user-information #profile-pic {
    height: 100px;
    width: 100px;
    background-color: red;
    display: block;
}

#user-information #basic-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

#followers-following {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    gap: 5px;
    font-family: 'coolvetica', sans-serif;
    margin-top: -20px;
}

.shown-lists {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: scroll;
    width: 640px;
    max-height: 600px;
    overflow: scroll;
}

#user-sections #tabs {
    margin-bottom: 0px;
}

#user-sections {
    display: flex;
    flex-direction: column;
    gap: 15px;
}